
  <div>
    <%= image_tag(comment.user.avatar.variant(resize_to_limit: [30, 30]), class: 'rounded-circle') %>
    <%= comment.user.username %>:
    <%= comment.content %>
    <p><small> <%= "#{distance_of_time_in_words(Time.now, comment.created_at, include_seconds: true)} ago"%> </small></p>
    
    <% if current_user.id == comment.user_id || current_user.id == owner.id %>
      <%= link_to "Delete", [comment.post, comment], method: :delete, data: { confirm: 'Are you sure?' } %> 
    <% end %>

  </div>
  </p>
